# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
load-env/
env/
venv/
.venv/

# IDE / Editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

dist/